<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!-- layout文件路径-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="renderer" content="webkit" />
<title>提交成功</title>
<link type="text/css" rel="stylesheet" th:href="@{http://g.subaotec.com/ressources/static/css/questionnaire/survey-rest.css?a}" />
<link type="text/css" rel="stylesheet" th:href="@{http://g.subaotec.com/ressources/static/css/questionnaire/survey-all.css?f}" />
<link rel="shortcut icon" type="image/x-icon" th:href="@{http://g.subaotec.com/ressources/img/static/favicon.ico}" />
</head>
<body>
	<div class="succeed-con xx-align-center">
		<img th:src="@{http://g.subaotec.com/ressources/img/static/wechat/questionnaire/submit-succeedbg.png}"/>
		<p class="xx-font-size-16 xx-padding-top-10">提交成功</p>
		<p class="xx-font-size-14 xx-padding-top-5 xx-font-color-999">问卷提交成功，感谢您的支持与配合</p>
		<p class="xx-padding-top-40 xx-font-color-999">友情链接</p>
		<a th:href="@{http://sh-sb.cn/s/YBBNbq}" class="succeed-btn xx-font-size-16">
			星星保呗保险超市
		</a>
	</div>
</body>
</html>
